<div class="footer">
  <div class="row">
    <div class="col-xs-12 col-sm-8">
      <ul class="list-inline">
        <li class="hidden-xs hidden-sm">
          <a href="javascript:void(0)">
            Acerca de DUBS
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            Políticas de Privacidad y Tratamiento de Datos
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            Términos y Condiciones
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            Preguntas Frecuentes
          </a>
        </li>
        <li>
          <a href="javascript:void(0)">
            Soporte Técnico
          </a>
        </li>
        <li class="hidden-md hidden-lg hidden-xl">
          <a href="javascript:void(0)">
            Acerca de DUBS
          </a>
        </li>
      </ul>
    </div>

    <div class="col-xs-12 col-sm-4 hidden-xs hidden-sm">
      <ul class="list-inline2">
        <li>
          <a href="javascript:void(0)">
            DUBS es un producto de la compañía <img src="../assets/images/logo/logo-footer.png" alt="">
          </a>
        </li>
      </ul>
    </div>
  </div>
  <ul class="list-inline2 hidden-md hidden-lg hidden-xl">
    <li>
      <a href="javascript:void(0)">
        Por <img src="../assets/images/logo/logo-footer_2.png" alt="">
      </a>
    </li>
  </ul>
</div>
